body, html {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background: #191765;
}

section,
.top-nav {
  width: 80vw;
  margin: 0 auto;
  padding: 0;
}

.top-nav {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  right: 10vw;
}

.top-nav li a {
  color: #fff;
  background: #191765;
}

.my-name,
.my-intro {
  width: 40vw;
  margin: 0 auto;
  color:#fff;
}

.my-intro {
  margin-top: 1rem;
  font-family: Roboto;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #b3bac5;
}

.my-name {
  margin-top: 5rem;
  font-family: Roboto;
}

.skill-box {
  width: 30vw;
  margin: 0 auto;
}

.skill h3 {
  color: #9390ff;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.7rem;
}

.my-name h1 {
  color: #9390ff;
  font-size: 3.5rem;
}

.my-name span {
  /* color: #1aff66; */
}

.my-name h2 {
  margin-top: 1.5rem;
}

.skill {
  display: flex;
  color: #fff;
  flex-direction: column;
}

.middle-icon {
  /* padding-bottom: 2rem; */
}

.my-work h3 {
  margin-top: 3rem;
  font-size: 2rem;
  line-height: 1.7rem;
  color: #9390ff;
}

.image-box-one img,
.image-box-two img,
.image-box-three img,
.image-box-four img  {
  width: 25rem;
  height: 15rem;
  object-fit: scale-down;
}

.project-box {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.inner-box {
  /* margin-left: 3rem; */
}

.right-margin {
  margin-right: 3rem;
}

.inner-box a {
  height: 2rem;
  width: 8rem;
  background-color: #9390ff;
  padding: 0.4rem;
  font-size: 1.2rem;
  font-family: Roboto;
  text-decoration:none;
  color: #fff;
}

.inner-box h4 {
  color: #9390ff;
}

.inner-box ul {
  list-style-type: none;
  padding: 0;
  font-size: 0.9rem;
  color: #fff;
  display: flex;
}

.inner-box ul li {
  padding: 0.3rem;
}

.inner-box p {
  width: 45vw;
  color: #b3bac5;
  font-size: 1.1rem;
  font-family: Roboto;
}

.contact-me h4 {
  margin-top: 6rem;
  color: #9390ff;
  font-family: Roboto;
}

.contact-message {
  width: 30rem;
  font-size: 1.rem;
  color: #fff;
  font-family: Roboto;
  margin: 2rem auto 1rem auto;
}

.name-box {
  display: flex;
}

form {
  width: 30rem;
  margin: 2rem auto 0 auto;
}

.last_name {
  margin-left: 1rem;
}

.email {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.text-box {
  height: 5rem;
}

.submit-box {
  color: #fff;
  margin-top: 3rem;
  text-align: center;
}

.submit-btn {
  padding: 0.2rem 0.8rem;
  background: #9390ff;
  color: #fff;
}

.social-icon {
  width: 30rem;
  height: 3rem;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;

}

.social-icon a,
.social-icon p {
  color: #fff;
  padding: 0.5rem;
}

.social-icon span {
  padding-left: 0.3rem;
}

#project-one,
#project-two,
#project-three,
#project-four {
  display: none;
  width: 80%;
  margin: 3rem auto;
  background:rgba(255, 255, 255, 0.16);
  padding: 0 2rem 2rem 2rem;
}

/* Pop up */

#project-one:target,
#project-two:target,
#project-three:target,
#project-four:target {
  display: block;
}

.close-box {
  height: 3rem;
  display: block;
}

.close {
  display: inline-block;
  padding: 0.3rem 0;
  text-decoration: none;
  font-size: 1.4rem;
  cursor:pointer;
}

#project-one img,
#project-two img,
#project-three img,
#project-four img  {
  width: 100%;
  height: 17rem;
  object-fit: scale-down;
}

.pop-inner-box {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding-top: 1rem;
  text-align: center;
}
.pop-tech-used {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.pop-tech-used li {
  padding: 0.3rem;
  border-left: 0.1px solid #fff;
  border-right: 0.1px solid #fff;
  line-height: 0.6rem;
}

.live-button {
  padding-top: 1rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.live-button a {
  height: 2.2rem;
  padding: 0.3rem 0.5rem;
  font-family: Roboto;
  color: #fff;
  background: #7d73fc;
  text-decoration: none;
}

.live-button .fa,
.live-button .fab {
  padding: 0 0.3rem;
}
